C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Content
C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Content\Developers\Senkaku\Collections
C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Content\FirstPerson
C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Content\StarterContent\Audio
C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Content\StarterContent\Particles
C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Content\StarterContent\Props
C:\Users\Senkaku\Documents\Unreal Projects\tryingharder\Saved\Logs
